body {
    background-color: #faf2e4;
    margin: 0 10%;
    font-family: 'Segoe UI','Merriweather','Nunito', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: initial;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
  }
  
  h2 {
    color: #d1633c;
    font-size: 1em;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .to-the-right{
    float: right;
  }
  .to-the-left{
    float: left;
  }
  .item1 { 
    grid-area: header;
    list-style-type: none;
   }
   .item2{
     grid-area: menu;
   }
   .item3{
     grid-area: right;
   }
   .grid-container{
     display: grid;
     grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
   }
   .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  ul.personal-details {
    list-style-type: none;
  }
  
